{
  "NODE_ENV": "local",
  "PORT": 4000,
  "SERVER": "",
  "LOG_PATH": "./api.log",
  "API_ENDPOINT":"",

  "SQL:HOST": "",
  "SQL:PORT": "",
  "SQL:DATABASE": "",
  "SQL:USER": "",
  "SQL:PASSWORD": "",
  "SQL:CONNECTION_POOL_NAME": ""
}